@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=Gwendolyn:wght@400;700&family=Lato:wght@300;400;700;900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Luxurious+Script&family=MonteCarlo&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&family=Mulish:wght@200;900&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Open+Sans:wght@400;500;600;700;800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,600;1,800&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,900&family=Rubik:wght@300;400;500;600;700;800;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&family=Zen+Kaku+Gothic+Antique:wght@400;500;700;900&display=swap');

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

.sidebar_container{
  margin-top: 10px;
}
.link{
  text-decoration: none;
  color: inherit;
}
.home-link{
  text-decoration: none;
  color: inherit;
}